@import '../../assets/styles/global';

.home-container {
  background-color: inherit;

  .home-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 2rem;
    gap: 8px;

    .line {
      width: 23px;
      height: 0px;
      border: 2px solid $color-black;
    }
  }

  .devices-list {
    background-color: inherit;
    border-radius: 25px;
  }
}

.device-skeleton {
  background-color: $color-gray30;
  border-radius: 25px;
  padding: 24px;
  .slider {
    margin: 1rem 0;
  }
  .right-content {
    display: flex;
    justify-content: flex-end;
    .mr {
      margin-right: 0.5rem;
    }
  }
}

